# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#Compressed files
*.tar.gz

# Executables
*.exe
*.out
*.app
/P1/src/
/P1/src.tar.gz
/P1/oshell
/P2/oshell
/P2/src/
/P2/src.tar.gz
